---
- name: Enable contrib and non-free repositories
  ansible.builtin.replace:
    path: /etc/apt/sources.list
    regexp: '^(deb\s+.* main)( non-free-firmware)?$'
    replace: '\1 contrib non-free non-free-firmware'
  notify: update apt cache

- name: Force apt cache update after repo changes
  ansible.builtin.meta: flush_handlers

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install prerequisite packages
  ansible.builtin.apt:
    name: "{{ prereq_packages }}"
    state: present

- name: Ensure system is up to date
  ansible.builtin.apt:
    upgrade: dist
    autoremove: yes
    autoclean: yes
